<!doctype html>
<html ng-app="cs_game">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="game_loop.js"></script>
    <script src="game_engine.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="game_control">

    <div id="header">Browser GameLoop</div>
    <div id="mainframe">
      <div id="console">
        <ul>
          <li ng-repeat="message in messages | filter:onMessageTime">
            Timer: {{message.name}} &ndash; {{message.remaining}} times left
          </li>
        </ul>
      </div>

      <form class="inputs" ng-submit="addTimer()" name="timer_form">
        <div>
          <label>Name:</label>
          <input name="input1" type="text" ng-model="timer.name" required>
        </div>
        <div>
          <label>Interval:</label>
          <input type="number" ng-model="timer.repeat_interval" required min="0">
        </div>
        <div>
          <label># Times:</label>
          <input type="number" ng-model="timer.repeat_count" required min="1">
        </div>
        <div>
          <label></label>
          <input class="submit" type="submit" value="Add Timer" ng-disabled="timer_form.$invalid">
        </div>
      </form>
    </div>
    <div id="footer">Created for CS 5410</div>
    <div>Average frames per second: {{ fps }}</div>
  </body>
</html>
